JUNK
__pycache__
files
app copy.py
checkpoints/FAST/*.pt
checkpoints/TrOCR/config.json
checkpoints/TrOCR/generation_config.json
checkpoints/TrOCR/merges.txt
checkpoints/TrOCR/model.safetensors
checkpoints/TrOCR/special_tokens_map.json
checkpoints/TrOCR/tokenizer_config.json
checkpoints/TrOCR/tokenizer.json
checkpoints/TrOCR/training_args.bin
checkpoints/TrOCR/vocab.json
GUI
testing.ipynb
uploads/
modules/bbox_merger_copy.py
modules/detector copy.py
modules/recognizer copy.py
nehru.py
testing copy.ipynb
data.json
